/* Default Styles */

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--neutral-dark-blue);
  font-family: var(--primary-font);
}

/* Custom Variables */

:root {
  --primary-cyan: hsl(193, 38%, 86%);
  --primary-green: hsl(150, 100%, 66%);
  --neutral-gray-blue: hsl(217, 19%, 38%);
  --neutral-dark-gray-blue: hsl(217, 19%, 24%);
  --neutral-dark-blue: hsl(218, 23%, 16%);

  --quote-font-size: 20px;
  --primary-font: 'Manrope', sans-serif;
  --manrope-font-weight: 800;
}

/* Advice Styling */

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 2rem;
}

.advice-container {
  background-color: var(--neutral-dark-gray-blue);
  width: 343px;
  min-height: 347px;
  border-radius: 10px;
  padding: 40px 24px 0 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.advice-number {
  color: var(--primary-green);
  font-size: 11px;
  font-weight: var(--manrope-font-weight);
  line-height: 15px;
  position: absolute;
  top: 48px;
}

.advice-text {
  font-size: var(--quote-font-size);
  color: var(--primary-cyan);
  position: absolute;
  top: 65px;
  padding: 0 24px;
}

.pattern-divider {
  position: absolute;
  bottom: 65px;
}

.dice-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-green);
  position: absolute;
  bottom: -25px;
  cursor: pointer;
  margin-top: 40px;
}

.dice-container:hover {
  box-shadow: 0 0 40px #53ffaa;
}

/* Attribution Styles */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 765px) {
  .advice-container {
    width: 540px;
    height: 364px;
  }
}
